:root{
    --bg-gray-700: #495057;
    --bs-light: #f8f9fa;
    --bg-gray: #493938;
}
*,
*:before,
*:after {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}
body{
    background: var(--bs-light);
    box-sizing: border-box;
    padding: 0; margin: 0;
    color:rgb(160, 152, 152); 

    font-family: 'Nunito', sans-serif;
    line-height: 1.5
}
.header{
    background: var(--bg-gray);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menu__list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:20px;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style-type: none;
}
.flex {
    display: flex
}

.btn-login{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gap-item{
    column-gap: 20px;
}


[hidden] {
    display: none
}
.grid {
    display: grid
}




.hidden {
    display: none
}

.items-center {
    align-items: center
}

.justify-center {
    justify-content: center
}


.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.overflow-hidden {
    overflow: hidden
}


.fixed {
    position: fixed
}

.relative {
    position: relative
}


.shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.text-center {
    text-align: center
}


.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
}

@media (min-width:640px) {
    .sm\:rounded-lg {
        border-radius: .5rem
    }

    .sm\:block {
        display: block
    }

    .sm\:items-center {
        align-items: center
    }

    .sm\:justify-start {
        justify-content: flex-start
    }

    .sm\:justify-between {
        justify-content: space-between
    }

    .sm\:h-20 {
        height: 5rem
    }

    .sm\:ml-0 {
        margin-left: 0
    }

    .sm\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }

    .sm\:pt-0 {
        padding-top: 0
    }

    .sm\:text-left {
        text-align: left
    }

    .sm\:text-right {
        text-align: right
    }
}

@media (min-width:768px) {
    .md\:border-t-0 {
        border-top-width: 0
    }

    .md\:border-l {
        border-left-width: 1px
    }

    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
}

@media (min-width:1024px) {
    .lg\:px-8 {
        padding-left: 2rem;
        padding-right: 2rem
    }
}

@media (prefers-color-scheme:dark) {
    .dark\:bg-gray-800 {
        --tw-bg-opacity: 1;
        background-color: rgb(31 41 55 / var(--tw-bg-opacity))
    }

    .dark\:bg-gray-900 {
        --tw-bg-opacity: 1;
        background-color: rgb(17 24 39 / var(--tw-bg-opacity))
    }

    .dark\:border-gray-700 {
        --tw-border-opacity: 1;
        border-color: rgb(55 65 81 / var(--tw-border-opacity))
    }

    .dark\:text-white {
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity))
    }

    .dark\:text-gray-400 {
        --tw-text-opacity: 1;
        color: rgb(156 163 175 / var(--tw-text-opacity))
    }

    .dark\:text-gray-500 {
        --tw-text-opacity: 1;
        color: rgb(107 114 128 / var(--tw-text-opacity))
    }
}