.about {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url('/public/images/about/about-popular.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.about-motto, .about-motto--wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.about-motto {
	width: 100%;
	height: calc(100vh - var(--height-header) - 1px);
	/*display: flex;
	justify-content: center;
	align-items: center;*/
}

.about-motto--wrapper {
	/*display: flex;
	flex-direction: column;
	align-items: center;*/
	gap: 20px;

	color: #fff;
}

.about-motto__logo {
	display: flex;
	padding: 60px 25px;
	row-gap: 20px;
	text-transform: lowercase;
	border: 1px solid #fff;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.about-motto__logo img {
	height: 60px;
	width: auto;
	/*padding-bottom: 10px;*/
	border-bottom: 1px solid #fff;
}

.about-motto__slogan {
	text-transform: uppercase;
}

/* Слайдер */

.itc-slider {
	position: relative;
}

/*Оболочка*/
.itc-slider__wrapper {
	overflow: hidden;
}

/*Список*/
.itc-slider__list {
	counter-reset: slide;
	max-height: 250px;
}

.itc-slider__list {
	display: flex;
	transition: transform 0.5s ease;
	will-change: transform;
	gap: 20px;
}

/*Элемент*/
.itc-slider__item {
	flex: 0 0 100%;
	max-width: 100%;
	user-select: none;
	will-change: transform;
	gap: 20px;
}

/*Что-то*/
.itc-slider__transition-none {
	transition: none;
}

/*flex: grow shrink base
grow - k эл-та увелич  и заполнять доступное пр-во
shrink -
*/
/* на маленьких устройствах 1 слайд */
.itc-slider__item {
	flex: 0 0 100%;
	max-width: 100%;
	/*counter-increment: slide;*/
	height: 250px;
	/*position: relative;*/
}
.wrapper_info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.wrapper_info img{
	display: block;
	width: 100%;
    height: 120px;
	object-fit: cover;
}
.wrapper_info p{
	color: white;
}
/*.itc-slider__item img{
	display: block;
	width: 100%;
    height: 100%;
	object-fit: cover;
}*/

/* на средних экранах (ширина больше 768px) 2 слайда */
@media (min-width: 768px) {
	.itc-slider__item {
		flex: 0 0 50%;
		max-width: 50%;
	}
}

/* на больших экранах (ширина больше 1200px) 3 слайда */
@media (min-width: 1200px) {
	.itc-slider__item {
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%;
	}
}

/* кнопки влево и вправо */
.itc-slider__btn {
	position: absolute;
	top: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 50px;
	color: #fff;
	text-align: center;
	background: rgb(0 0 0 / 20%);
	border: none;
	transform: translateY(-50%);
	cursor: pointer;
}

.itc-slider__btn_hide {
	display: none;
}

.itc-slider__btn_prev {
	left: 0;
}

.itc-slider__btn_next {
	right: 0;
}

.itc-slider__btn:hover,
.itc-slider__btn:focus {
	color: #fff;
	text-decoration: none;
	background: rgb(0 0 0 / 30%);
	outline: 0;
}

.itc-slider__btn::before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	background: transparent no-repeat center center;
	background-size: 100% 100%;
}

.itc-slider__btn_prev::before {
	background-image: url('/public/images/about/prev.svg');
}

.itc-slider__btn_next::before {
	background-image: url('/public/images/about/next.svg');
}

/* индикаторы */
.itc-slider__indicators {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 15;
	display: flex;
	justify-content: center;
	margin: 0 15%;
	padding-left: 0;
	list-style: none;
}

.itc-slider__indicator {
	flex: 0 1 auto;
	box-sizing: content-box;
	width: 30px;
	height: 5px;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	background-color: rgb(255 255 255 / 50%);
	background-clip: padding-box;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	cursor: pointer;
}

.itc-slider__indicator_active {
	background-color: rgb(255 255 255 / 90%);
}