
.catalog-card__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    gap: 20px;
    /*для красоты*/
    justify-items: center;
}

.catalog-card__item {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    
    padding: 1em 16px;
    
    border: 1px solid transparent;
    border-image: var(--accent-color);
    border-image-slice: 1;
}
.catalog-card__item img{
    max-width: 100%;
    width: 400px;
    object-fit: cover;
    
}
