
.catalog-card__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.catalog-card__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 1em;
    row-gap: 20px;
    border: 1px solid transparent;
    border-image: var(--accent-color);
    border-image-slice: 1;
    font-family: 'Sofia Sans';
    font-weight: 500;
}

.catalog-card__item img{
    width: 100%; height: 100%;
    object-fit: cover;
}

.catalog-card__item--name{
    border-bottom: 1px solid #678;
    color: var(--text-color);
    /*касательно строк*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.catalog-card__item--price{
    color: #000; font-weight: 700;
}

.catalog-card__info{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.catalog-card__more{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.catalog-card__more button{
    background-color: var(--active-color);
    border-radius: 5px; padding: 4px 8px;
}
.catalog-card__more button:hover{ background: var(--accent-color); }
.catalog-card__item a{ color: #fff; }
.product-info__name span{color: white;}
